@import '../Variables.less';

#skills-container{
    height: 40vh;
    
    .skills-title{
        padding-top: 1em;
        font-size: @font-size*2;
        color: white;
        letter-spacing: 1rem;
    }

    .skills-list{
        display: flex;
        justify-content: center;

        .skills{
            list-style-type: none;
            padding: 2rem;
        }
    }
}
