@import '../Variables.less';


nav{
    display: fixed;
    top: 0;
    width: 100%;

    .navbar {
        display: flex;
        justify-content: center;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.226);

        .navbar-item{
            color: @homepage-font-color;
            font-weight: 300;
            letter-spacing: 0.3em;
            list-style-type: none;
            font-size: @font-size*1.1;
            padding: 1rem 3rem;
            transform: all 3s ease-in;
            cursor: pointer;

            a {
                text-decoration: none;
                color: @homepage-font-color;
            }

            &:after {
                content: '';
                width: 0px;
                height: 2px;
                display: block;
                background: @homepage-font-color;
                transition: 0.3s;
            }
            
            &:hover{
                &:after{
                    width: 100%;
                }
            }
        }
    }
}